:root {
    --PRIMARY_BACKGROUND_COLOR: #e3a008;
    --TEXT_LIGHT_COLOR: #f5f5f5;
    --LINE_COLOR: #f4f4f4;
    --MAX_WIDTH: 400px;
    --PADDING_X: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
}

main {
    width: var(--MAX_WIDTH);
    position: relative;
    min-height: 100vh;
    background-color: white;
    overflow: hidden;
}
